.filter-btn {
  text-transform: uppercase;
  /* background: transparent; */
  color: var(--clr-grey-5);
  padding: 0.375rem 0.5rem;
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: var(--radius);
  border-color: transparent;
  margin-right: 0.25rem;
}

.active {
  border-bottom: 3px solid var(--clr-grey-3);
}

.form-control {
  margin: 1rem;
}

.clear-btn {
  margin-top: 1rem;
  background: var(--clr-red-dark);
}
